<!DOCTYPE html>
<html>

<head>
   <title>
      Technical Test - RGE
   </title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">

   <link rel="stylesheet" href="/views/styles/RGE.css">
</head>


<body>
   <h1>
      &lt; Technical Test &gt;
   </h1>

   <h2>
      Input:
   </h2>

   <p id="input_nums">
      <%=inputNums%>
   </p>


   <main>
      <article class="operation">
         <h3>Addition</h3>
         <p>
            <%=plusResponse%>
         </p>
      </article>

      <article class="operation">
         <h3>Subtraction</h3>
         <p>
            <%=minusResponse%>
         </p>
      </article>

      <article class="operation">
         <h3>Division</h3>
         <p>
            <%=divideResponse%>
         </p>
      </article>

      <article class="operation">
         <h3>Multiplication</h3>
         <p>
            <%=timesResponse%>
         </p>
      </article>
   </main>
</body>
